<nav class="apple-navbar">
  <div class="nav-container">
    <div class="logo">
      <a href="index.html"><img src="assets/images/logo.svg" alt="لوگو"></a>
    </div>

    <ul class="nav-links">
      <li class="nav-item" data-menu="products"><a href="products.html">محصولات</a></li>
      <li class="nav-item" data-menu="services"><a href="services.html">خدمات</a></li>
      <li class="nav-item" data-menu="about"><a href="about.html">درباره ما</a></li>
      <li class="nav-item" data-menu="contact"><a href="contact.html">تماس</a></li>
      <li class="nav-item" data-menu="portfolio"><a href="portfolio.html">نمونه کارها</a></li>
    </ul>

    <div class="nav-icons">
      <i class="fas fa-search"></i>
      <i class="fas fa-shopping-bag"></i>
      <i class="fas fa-user"></i>
    </div>
  </div>

  <!-- Mega Menus -->
  <div class="mega-menu" id="products">
    <div class="menu-content">
      <div>
        <h4>گوشی‌ها</h4>
        <a href="#">iPhone 15</a>
        <a href="#">iPhone 14</a>
        <a href="#">iPhone SE</a>
      </div>
      <div>
        <h4>لپ‌تاپ‌ها</h4>
        <a href="#">MacBook Air</a>
        <a href="#">MacBook Pro</a>
      </div>
    </div>
  </div>

  <div class="mega-menu" id="services">
    <div class="menu-content">
      <div>
        <h4>برق‌کاری</h4>
        <a href="#">نصب روشنایی</a>
        <a href="#">کلید و پریز هوشمند</a>
      </div>
      <div>
        <h4>کناف‌کاری</h4>
        <a href="#">طراحی سقف</a>
        <a href="#">نورپردازی</a>
      </div>
      <div>
        <h4>کولر گازی</h4>
        <a href="#">نصب کولر</a>
        <a href="#">تعمیر و سرویس</a>
      </div>
    </div>
  </div>
</nav>
