.navbar {
    width: 100%;
    background: #111;
    padding: 12px 0;
    direction: rtl;
}

.nav-container {
    width: 90%;
    max-width: 1300px;
    margin: auto;

    display: flex;
    align-items: center;
    justify-content: space-between;

    position: relative;
}

/* لوگو سمت راست */
.nav-logo img {
    height: 42px;
}

/* منو (کمی راست‌تر از وسط) */
.nav-menu {
    list-style: none;
    display: flex;
    gap: 30px;

    position: absolute;
    right: 50%;
    transform: translateX(40%);
}

.nav-menu li a {
    color: #fff;
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
}

/* آیکون‌های سمت چپ */
.nav-icons {
    display: flex;
    gap: 20px;
}

.nav-icons .icon {
    color: #fff;
    font-size: 22px;
    text-decoration: none;
}
